div.relative_head {
  position: relative;
  width: 315px;
  height: 105px;
  top: 81px;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
}

.head_line_1 {
  top: 0px;
}
.head_line_2 {
  top: 21px;
}
.head_line_3 {
  top: 42px;
}
.head_line_4 {
  top: 63px;
}
.head_line_5 {
  top: 84px;
}
