body{
    align-items: center;
    background-color: rgb(44, 44, 44);
    flex-direction: column;
    color: white;
}

.pageContainer{
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    
}